@import url("https://use.typekit.net/vdm3ezf.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px; /* we put padding so they dont touch the sides of the viewport*/
  background-color: #cafdff;
}

header {
  background-color: #eadcff;
  height: calc(
    100vh - 70px
  ); /* 1vh = 1% of viewport height -70px wich is the height of navbar. this assure that as soon as we scrool we move to div below that*/
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 71px;
}

.subheader {
  font-size: 36px;
}

button {
  background-color: #05c7cf;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}

a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.row {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  /* We add Div Row wich wraps the entire header, we modify it so the contents of header wont stretch to the hole width of the page*/
  /* now the parent is row. thats why we moved flex here*/


}

/*


ABOUT section


*/

#about,
#discord,
#contact {
  padding: 48px 0;
}

#about {
  background-color: #f8ffdc;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section_description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image--wrapper {
  width: 40%;
}
img {
  width: 100%;
  padding: 0 24px;
}

.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 24px;
}

/*


Discord section


*/

#discord {
  background-color: #cefeff;
}

/*


Contact section


*/

#contact {
  background-color: #dce9ff;
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding:0 24px;
  
}

input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

/*


Footer section


*/

footer {
  background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_wrapper {
  max-width: 250px;
}

#footer_logo {
  width: 100%;
}

.footer__links {
  margin-bottom: 24px;
}

.footer__links a {
  padding: 0 16px;
}



/*

SMALL PHONES // TABLETS  // LARGE SMARTPHONES

what this does is that if the screen comes below 728 px activate this css

*/
@media (max-width: 728px){     

.row {
    display: flex;
    flex-direction: column;
}


.home__description{

    margin-bottom: 24px;
    display:flex;
    flex-direction: column;
    align-items: center;

}

h1{

    text-align: center;
    font-size: 60px;


}

.subheader{

    text-align: center;
    margin: 16px 0;


}

.home__description--button{

    max-width: 240px;
}

ul{
    display: none;
}

.section_description{

    display:flex;
    flex-direction: column;

}

.about__image--wrapper{
    max-width: 80%;
    width: 100%;
}

#discord .section_description {

    display:flex;
    flex-direction: column-reverse;


}
.section__description--wrapper{
    width:80%;
    text-align: center;
}

}


